.comment {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(184, 183, 183);
}

.innerComment {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(213, 212, 212);
}

.innerComments {
  width: 100%;
  padding-left: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
}
